body{
    font-family: 'Redressed', cursive;
}
h1{
    font-size: 100px;
    color: orange;
    background-color: palegreen;
    height: 200px;
    width: 400px;
}

h2{
    font-size: 55px;
    color: purple;
}

p{
    font-size: 30px;
}

.L1{
 color: rgb(21, 255, 0);    
}

#l5{
    color: blue;
}

h3.L1{
    font-size: 75px;
}